
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>배스 낚시 조행기</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/3-col-portfolio.css" >

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">배스낚시 커뮤니티</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav ml-auto" id="navbarResponsive" th:with="uid =${#authentication.name}
                                                eq 'anonymousUser' ? 'Guest':${#authentication.principal.member.uid} ">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:if="${#authentication.name} eq 'anonymousUser'" class="nav-link" th:href="@{login}">Login</a>
                </li>
                <li class="nav-item">
                    <a th:unless="${#authentication.name} eq 'anonymousUser'" class="nav-link" href="#">[[${#authentication.name}]] 님 안녕하세요</a>
                    <a th:if="${#authentication.name} eq 'anonymousUser'" class="nav-link" href="#">GUEST 님 안녕하세요</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">배스 조행기
        <small>자랑하기</small>
    </h1>
    <div class="right"><a href="/johang/register" methods="GET">글쓰기</a></div>

    <div th:class="row" >
        <!--<div class="col-lg-4 col-sm-6 portfolio-item" >-->
            <div class="card" style="width: 30%;" th:each="result:${result.result}">
                <div style="text-align: right; margin: 5px">
                <a href="#"><img class="card-img-top" src="/image01.jpg" alt=""></a>
                    <!--<a href="#"><img class="card-img-top" th:src="@{${'/'+list.imagevo.filename+'.jpg'}}" alt=""></a>-->

                    <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">[[${result.title}]]</a>
                    </h4>
                    <p th:class="card-text" >[[${result.content}]]<br>등록일 : [[${result.regdate}]]<br>작성자 : [[${result.member.uname}]]<br>추천수 : [[${result.likes}]]</p>
                </div>

            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <nav>
        <div>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${result.prevPage}"><a
                        th:href="${result.prevPage.pageNumber} + 1">PREV
                    [[${result.prevPage.pageNumber} + 1]]</a></li>

                <li class="page-item"
                    th:classappend="${p.pageNumber == result.currentPageNum -1}?active: '' "
                    th:each="p:${result.pageList}"><a
                        th:href="${p.pageNumber} +1">[[${p.pageNumber} +1]]</a></li>

                <li class="page-item" th:if="${result.nextPage}"><a
                        th:href="${result.nextPage.pageNumber} + 1">NEXT
                    [[${result.nextPage.pageNumber} + 1]]</a></li>
            </ul>
        </div>
    </nav>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">시시콜콜 배스낚시</p>
        <p class="m-0 text-center text-white">운영자 : 오세진</p>
        <p class="m-0 text-center text-white">연락처 : 010-3555-6703</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>
