<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script>
        #bg {
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
        }
        #bg img {
            position:absolute;
            top:0; left:0;
            right:0;
            bottom:0;
            margin:auto;
            min-width:50%;
            min-height:50%;
        }
    </script>
    <style>
        body{
            background-color:#9fcdff;
        }
    </style>
    <title>FishBoard</title>
</head>
<body>
<h2>시시콜콜 배스 낚시 커뮤니티</h2> </hr>
<a href="/boards/list" methods="GET">자유 게시판</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/johang/list" methods="GET">배스 조행기</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a th:if="${#authentication.name} eq 'anonymousUser'"  href="/login" methods="GET">로그인</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a th:if="${#authentication.name} eq 'anonymousUser'" href="/member/join" methods="GET">회원가입</a>
<div id="bg"> <img src="background.jpg" alt=""> </div>
</body>
</html>